.btn
    background-color: #FFF
    border-radius: 3px
    border: 1px solid
    cursor: pointer
    display: block
    font-family: 'Catamaran',Helvetica,Arial,sans-serif
    font-size: 18px
    margin: 15px 0
    padding: 6px 20px

    &-add
        @extend .btn
        float: right
        display: inline-block
        margin: 0

    &-small
        @extend .btn
        color: #333
        padding: 6px
        width: 30px
        margin: 0 2.5p

#plus
    background-color: #228B22
    color: #FFF
    border: none
    font-size: 20px
    font-weigth: bold

#run
    background-color: #8B0000  
    color: #FFF
    border: none
    font-size: 20px
    font-weigth: bold